*{
-webkit-box-sizing: border-box;
box-sizing: border-box;
cursor: none;
}
html, body {
	background-color: #181a1b;
	overflow: hidden;
}
#gallery {
	position: absolute; 
	top: 0; left: 0; 
	width: 100%; 
	height: 100vh; 
	display: table;
}
.slides {
	float: left;
	width: 33.33%;
	height: 100%;
	padding: 5px;
}
.slides img {
	border-radius: 20px;
}
#context {
	width: 100%; 
	display: table-cell; 
	vertical-align: middle; 
	height: 100vh;
}
#padtext {
	padding-bottom: 15px; 
	width: 100%; 
	height: 100%;
}
#left, #right {
	filter: brightness(35%);
}
#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100vh;
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}